.header {
  position: fixed;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 200px;
  box-shadow: 0 0 2px black;
  background-color: rgb(241 249 251 / 80%);
  color: var(--primary-color);
  width: 96vw;
  height: 10vh;

  & img {
    margin: 1rem;
    height: 6vh;
    border-radius: 50%;
    box-shadow: -1px 2px 3px black;
    animation: logo-rotation 8s ease-in-out;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
      font-style: oblique;
      font-size: 1.33rem;
      font-weight: 400;
      text-shadow: 0 0 1px rgb(165, 78, 177);
    }
    & p {
      margin: 0 0.2rem;
      font-size: 0.76rem;
      font-weight: 400;
      text-shadow: 0 0 1px rgb(165, 78, 177);
    }
    @media (min-width: 440px) {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      & h1 {
        font-size: 1.6rem;
      }
      & p {
        font-size: 1rem;
      }
    }
  }

  @keyframes logo-rotation {
    from {
      opacity: 0.75;
    }
    to {
      transform: rotateZ(-1turn);
      opacity: 1;
    }
  }
}
