.services {
  margin: 50px auto;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    gap: 2rem;
    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }

    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 45vh;
      width: 35vw;
      padding: 20px;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0 0px 10px 0px #0000008c;

      h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
      }

      img {
        height: 20vh;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0px 10px 0px #0000008c;
      }

      p {
        font-size: 1rem;
        color: var(--secondary-color);
      }
    }
  }
}

@media (max-width: 440px) {
  .services .service-list {
    margin: 0 auto;
    flex-direction: column;
    & .service-item {
      width: 96vw;
      & img {
        width: 100%;
      }
    }
  }
}
