.testimonials {
  margin: 0 auto;
  padding: 20px;
  background-color: #cbcbcbbd;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  blockquote {
    font-style: italic;
    color: var(--secondary-color);

    p {
      margin: 0 0 10px;
      font-size: 0.9rem;
      color: #666;
    }
  }
}
