// Variables SCSS
$primary-color: #542567a8;
$secondary-color: #dfbab0;
$background-color: rgb(241 249 251 / 96%);
$font-color: #333;

// Exposer les variables SCSS comme des variables CSS
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --background-color: #{$background-color};
  --font-color: #{$font-color};
}

// Mixin pour les couleurs dynamiques
@mixin dynamic-color($color, $darken-color) {
  background-color: $color;
  &:hover {
    background-color: ($color, $darken-color);
  }
}

// Reset de base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--font-color);
}

h1,
h2,
h3,
.logo {
  font-family: "Lora", serif;
  & p {
    font-family: "Indie Flower", cursive;
  }
}

// Typographie responsive pour les grands écrans
@media (min-width: 768px) {
  body {
    font-size: 1.2rem;
    margin: 0 auto;
  }
}

// Classes utilitaires
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-content .intro {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  @media (min-width: 420px) {
  }
  @media (min-width: 768px) {
    max-width: 1440px;
    height: 100vh;
  }
}

.intro-text {
  font-family: "Indie Flower", cursive;
  padding: 15vh 3rem;
  margin: 0 auto;
  font-size: 1.2rem;
  background-image: url("https://images.unsplash.com/photo-1505079403222-b5bbf1484f19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c3Bpcml0dWFsfGVufDB8fDB8fHwy");
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: -1px 2px 3px black;
  color: white;
  height: 100%;
  text-align: center;
  & h2 {
    padding-bottom: 1rem;
  }
}
