.tarifs {
  padding: 15vh 2rem 2rem;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1470290378698-263fa7ca60ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dGFyaWZpY2F0aW9uJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8Mg%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--font-color);
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  .tarif-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .tarif-card {
      background-color: #fff;
      border-radius: 10px;
      padding: 1.5rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      width: 300px;
      text-align: left;
      opacity: 0;
      animation: fadeIn 1s forwards;

      h3 {
        color: var(--primary-color);
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }

      p {
        font-size: 1rem;
        color: var(--font-color);
        font-weight: 600;

        strong {
          color: var(--primary-color);
        }
      }
    }
  }

  .paiements {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;

    h3 {
      color: #fff;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        font-size: 1.1rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;

        &:before {
          content: "✔️";
          margin-right: 0.5rem;
        }
      }
    }
  }

  .mutuelles {
    background: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 2rem;
    opacity: 0;
    animation: fadeIn 1s forwards;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      color: #fff;
    }

    .siret {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}
